<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/customers']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="customerForm" (ngSubmit)="onFormSubmit(customerForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Customer Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!customerForm.get('name').valid">Please enter Customer Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Customer Lastname" formControlName="last"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!customerForm.get('last').valid">Please enter Customer lastname</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Customer Address" formControlName="address"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!customerForm.get('address').valid">Please enter Customer Address</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!customerForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>